* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: lightblue;
    width: 960px;
    margin: 10px auto;
}

.row {
    display: flex;
}

.square {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    /* border-right: none; */
}

.square--active {
    background: gray;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.create-board-button {
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
}